[Unit]
Description=Kubernetes Controller Manager
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/
Wants=network-online.target
After=network-online.target

[Service]
# Type=notify
ExecStart=/usr/local/bin/kube-controller-manager
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
