KUBE_CONTROLLER_MANAGER_EXTRA_ARGS="--allocate-node-cidrs=true --authentication-kubeconfig={{ k8s.dir }}/controller-manager.conf --authorization-kubeconfig={{ k8s.dir }}/controller-manager.conf --client-ca-file={{ k8s_pki.dir }}/ca.crt --cluster-cidr={{ k8s_networking.pod }} --cluster-name=kubernetes --cluster-signing-cert-file={{ k8s_pki.dir }}/ca.crt --cluster-signing-key-file={{ k8s_pki.dir }}/ca.key --controllers=*,bootstrapsigner,tokencleaner --kubeconfig={{ k8s.dir }}/controller-manager.conf --leader-elect=true --requestheader-client-ca-file={{ k8s_pki.dir }}/front-proxy-ca.crt --root-ca-file={{ k8s_pki.dir }}/ca.crt --service-account-private-key-file={{ k8s_pki.dir }}/sa.key --service-cluster-ip-range={{ k8s_networking.service }} --use-service-account-credentials=true"
