KUBE_SCHEDULER_EXTRA_ARGS="--authentication-kubeconfig={{ k8s.dir }}/scheduler.conf --authorization-kubeconfig={{ k8s.dir }}/scheduler.conf --kubeconfig={{ k8s.dir }}/scheduler.conf --leader-elect=true"
